.board {
    display: inline-block;
    border: 2px solid black;
    padding: 6px;
    margin-top: 12px;
}

.board-row {
    display: flex;
}

.board-col {
    width: 80px;
    height: 80px;
    border: 1px solid #444;
    background: white; /* אם תרצי */
}
.score-display {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

.score-display div {
    border: 2px solid;
    padding: 5px 15px;
    border-radius: 8px;
}